---
title: Prior Research
---

<div class="row">
	<div class="col-xs-12">
		<h4>Elizabeth A. Kensinger</h4>
		<p><a href="https://www2.bc.edu/elizabeth-kensinger/">Cognitive and Affective Neuroscience Lab</a></p>
	</div>
</div> <!-- class="row" -->
<div class="row">
	<div class="col-xs-12">
		<h4>Patricia A. Reuter-Lorenz</h4>
		<p><a href="http://www.sitemaker.umich.edu/parl.lab/patricia.reuter-lorenz">Cognitive and Affective Neuropsychology Lab</a></p>
	</div>
</div>
