---
title: Publications
---

<div class="row">
  <div class="col-xs-12">
    <p class="text-muted">Electronic versions of papers are provided as a professional courtesy to ensure timely dissemination of academic work for individual, noncommercial purposes. Copyright resides with the respective copyright holders, as stated within each paper. These files may not be reposted without permission.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>2017</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://s3.amazonaws.com/hrz-website/papers/waring-kensinger-2017.pdf">Waring, J. D., <span class="hrz-name">Dimsdale-Zucker, H. R.</span>, Flannery, S., Budson, A. E., & Kensinger, E. A. (2017). Effects of mild cognitive impairment on emotional scene memory. Neuropsychologia, 96, 240&ndash;248. doi: http://dx.doi.org/10.1016/j.neuropsychologia.2017.01.011</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>2016</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://s3.amazonaws.com/hrz-website/papers/krendl-kensinger-2016.pdf">Krendl, A. C., <span class="hrz-name">Zucker, H. R.</span>, & Kensinger, E. A. (2016). Examining the effects of emotion regulation on the ERP response to highly negative social stigmas. Social Neuroscience. doi: 10.1080/17470919.2016.1166155</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>2015</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://s3.amazonaws.com/hrz-website/papers/zucker_ranganath_2015.pdf"><span class="hrz-name">Zucker, H. R.</span>, & Ranganath, C. (2015). Navigating the human hippocampus without a GPS. Hippocampus, 25(6), 697&ndash;703. doi: 10.1002/hipo.22447</a>
            <br/>
            <a href="https://s3.amazonaws.com/hrz-website/papers/zucker_ranganath_2015_erratum.pdf"><span class="erratum">Figure 1, erratum</span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>2012</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://s3.amazonaws.com/hrz-website/papers/MickleySteinmetz_CogNeurosci2012_Final.pdf">Mickley Steinmetz, K. R., Schmidt, K., <span class="hrz-name">Zucker, H. R.</span>, & Kensinger, E. A. (2012). The effect of emotional arousal and retention delay on subsequent-memory effects. Cognitive Neuroscience, 3(3&ndash;4), 150&ndash;159. doi: 10.1080/17588928.2012.677421</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
