---
title: CV
---
<div class="row">
	<div class="col-xs-12">
		<h4>Current CV</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p><a href="Zucker_CV.pdf">Download pdf</a></p>
	</div>
</div> <!-- class="row" -->

