{{ define "main" }}
<div class="row">
  <div class="col-xs-12">
    <h3>Current Research</h3>
  </div>
</div>

{{ range .Params.current }}
<div class="row">
  <div class="col-xs-12">
    <h4>{{ .pi }}</h4>
    <p><a href="{{ .lab.url }}">{{ .lab.name }}</a></p>
  </div>
</div>
{{ end }}

<div class="row">
  <div class="col-xs-12">
    <h3>Prior Research</h3>
  </div>
</div>

{{ range .Params.previous }}
<div class="row">
  <div class="col-xs-12">
    <h4>{{ .pi }}</h4>
    <p><a href="{{ .lab.url }}">{{ .lab.name }}</a></p>
  </div>
</div>
{{ end }}

{{ end }}
