{{ define "main" }}

{{ $preprints := where .Data.Pages "Params.preprint" true }}
{{ if gt (len $preprints) 0 }}
  {{ $.Scratch.Add "groupedPapers" (slice (dict "year" "Preprints" "papers" $preprints) ) }}
{{ end }}

{{ $papers := where .Data.Pages ".Params.preprint" "==" nil }}
{{ $papers := $papers | union (where .Data.Pages ".Params.preprint" "eq" false) }}

{{ range (slice "2022" "2021" "2020" "2019" "2018" "2017" "2016" "2015" "2014" "2013" "2012") }}
  {{ $ps := (where $papers "Params.year" (int .)).ByDate.Reverse }}
  {{ if gt (len $ps) 0 }}
    {{ $.Scratch.Add "groupedPapers" (slice (dict "year" . "papers" $ps) ) }}
  {{ end }}
{{ end }}

<div class="row">
  <div class="col-xs-12">
    <p class="text-muted">{{ .Params.copyrightNotice }}</p>
  </div>
</div>

{{ range $.Scratch.Get "groupedPapers" }}
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>{{ .year }}</th>
	</tr>
      </thead>
      <tbody>
	{{ range .papers }}
	{{ $authors := apply .Params.authors "replaceRE" "((Dimsdale-)?Zucker, H. R.)" "<span class=\"hrz-name\">$1</span>" "." }}
	<tr>
	  <td>
	    <p>
	      {{ if .Params.paperURL }}
	      <a href="{{ .Params.paperURL }}">
	      {{ delimit $authors ", " ", & " }}
	      ({{ .Params.year }}). {{ .Params.summary | safeHTML }}
	      {{ if .Params.doi }}doi: {{ .Params.doi }}{{ end }}
	      </a>
	      {{ else }}
	      {{ delimit $authors ", " ", & " }}
	      ({{ .Params.year }}). {{ .Params.summary | safeHTML }}
	      {{ if .Params.doi }}doi: {{ .Params.doi }}{{ end }}
	      {{ end }}
	    </p>
	    {{ with .Content }}{{ . }}{{ end }}
	    {{ range .Params.errata }}
	      <a href="{{ .uri }}"><span class="erratum">{{ .text }}</span></a>
	    {{ end }}
	  </td>
	</tr>
	{{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}

{{ end }}
