---
title: Halle Zucker
---

<div class="row">
	<div class="col-xs-12">
		<h4>PhD student<h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>Interested in memory and all things hippocampal.</p>
	</div>
</div>
